@import "normalize";
@import "foundation";
@import "social_foundicons";
@import "icons";
@import "general_foundicons";

.top-bar {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

  .toggle-topbar.menu-icon {
    top: 60%;
  }

  &.expanded {
    background: $topbar-dropdown-bg;
    position: fixed;
  }
}

h1 {
  line-height: 1.6;
  font-size: 2.125em;
}

address {
  font-style: normal;
}

.img-info-section {
  color:white;
  min-height:485px;
  background-position: center;
  background-repeat: no-repeat;

  & > h2 {
    color:white;
  }

  .info-section-title {
    padding-bottom:35px;
  }
}

.info-section {
  min-height:656px;

  .info-section-title {
    padding-bottom:50px;
  }
}

.info-section-title {
  padding-top:90px;
  text-align: center;
}

.info-section-text {
  text-align: center;
}

.info-subsection-title {
  text-align: center;
}

#primaryLogo {
  margin-left: emCalc(5);
  margin-top: emCalc(5);
}

#socialLinkCopyrightContainer {
  position: absolute;
  bottom: 0px;

  .socialLink {
    padding: 0 10px 0 10px;
  }
}

#mission {
  background-image: url("../images/mission.jpg");

  .info-section-title {
    padding-top: 65px;
  }
}

#about {
  img  {
    max-width: 80%;
  }

  div {
    padding-bottom: emCalc(20);
  }
}

#services {
  div {
    padding-bottom: emCalc(20);
  }
}

#contact {
  background-image: url("../images/contact.jpg");
  position: relative;
  padding-top: 15px;

  a {
    color:#fff;
    &:hover {
      color:$primary-color;
    }
  }
}

#clients {
  background-image: url("../images/clients.jpg");
}

@media #{$small} {
  #contact{
    padding-top: 80px;
  }

  #about {
    img {
      max-width: 100%;
    }

    div {
      padding-bottom: 0;
    }
  }

  #services {
    div {
      padding-bottom: 0;
    }
  }

  #mission {
    .info-section-title {
      padding-top: 90px;
    }
  }

}
